fastapi==0.98.0
uvicorn[standard]==0.22.0
sqlmodel==0.0.8
alembic==1.10.4
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
psycopg2-binary==2.9.6
fpdf2==2.7.5
python-multipart==0.0.6
openpyxl==3.1.2
qrcode[pil]==8.2
Pillow==12.3.0
